body {
		margin: 0;
		background: linear-gradient(120deg, #046307, #3e7c34, #66965a, #8baf81, #b1caaa, #d8e4d4, #ffffff);
	}
	img {
		width: 50%;
	}
	header {
		background-color: hsl(0, 0%, 2%);
		height: 75px;
		position: fixed;
		width: 100%;
		display: flex;
	}
	.nav-link {
        color: 	#C5B358;
        font-size: 20px;
        height: 75px;
        margin-left: 10px;
        text-decoration: none;
        border: 1px solid;
        border-color: #C5B358;
        padding: 5px;
	}
	.nav-link:hover {
		font-size: 25px;
	}
	nav {
		float: left;
		margin-top: 25px;
		margin-right: 25px;
	}
	#header-img {
		height: 75px;
		width: 350px;
		position: relative;
	}
	#image2 {
		height: 75px;
		width: 350px;
		position: relative;
	}
	#submit:hover {
		animation-name: background;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		background-color: white;
	}
	@keyframes background {
		0% {
			background-color: yellow;
		}
		50% {
			background-color: red;
		}
		100% {
			background-color: blue;
		}
	}
	.title {
		font-family: Helvetica;
		font-size: 25px;
		color: 	#C5B358;
		text-align: center;
		background: linear-gradient(120deg, #046307, #0d520b, #11420d, #12330d, #11240a, #0b1605, #000000);
		margin: auto;
		padding: 10px;
	}
	}
	#Introduction {
		text-align: center;
	}
	iframe {
		display: inline-block;
		align-content: center;
		align-items: center;
		margin-left: 460px;
		padding: 10px;
	}
	#p {
		color: hsl(0, 0%, 2%);
		padding-right: 10px;
		padding-left: 10px;
		font-size: 25px; 
		text-align: justify;
		font-family: Arial;
	}
	#first {
		float: left;
		width: 46.5%;
		height: 180px;
	}
	#second {
		width: 50%;
		float: right;
	}
	.deals {
        padding: 10px;
    }
    .links {
    	text-align: center;
    	width: 100%;
    	background-color: #C5B358;
    	margin: 0;
    	color: black;
    }
    .nav-links:hover {
    	font-size: 25px;
    }
    #foot{
    	bottom: 20px;
    }
    #Deals {
    	padding-bottom: 10px;
    	display: flex;
        flex-wrap: nowrap;
    }
    #image3 {
    	float: left;
    	height: 170px;
    	width: 227px;
    }
    #image4 {
    	height: 170px;
    	width: 227px;
    	float: left;
    }
    #form {
        float: right;
    	width: 100%;
    }
    @media(max-width: 1075px) {
    	img {
    		width: 40%;
    	}
    }
